@font-face { font-family: OCR; src: url('../OCRAEXT.TTF'); }

body {
    background-color: #111111;
    color: #3bb31e;
    font-family: OCR;
    font-size: 20px;
    margin: 0;
    /*height: 100%;*/
    /*width: 100%;*/
}

h1 {
    position: absolute;
    color: #3bb31e;
    font-size: 40px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
    vertical-align: center;
    margin: 0;
}

div.div_register {
    position: relative;
    background-color: #212121;
    padding: 4%;
    width: 38%;
    height: 100%;
    margin: 0;
    display: inline-block;
    left: 0;
}

div.div_login {
    position: absolute;
    background-color: #212121;
    padding: 4%;
    width: 38%;
    height: 82%;
    margin: 0;
    display: inline-block;
    right: 0px;
}

tr, td {
    padding: 2%;
}

input[type="text"], input[type="password"], textarea {
    background-color : #151515;
    color: #e2e2e2;
    font-family: OCR;
    font-size: 17px;
    width: 95%;
    border: none;
    line-height: 1.5em;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
}

input[type="submit"] {
    background-color : #101010;
    color: #e2e2e2;
    font-family: OCR;
    font-size: 17px;
    width: 100%;
    border-color: black;
}

div.header {
    position: relative;
    text-align: center;
    background: #0a0a0a;
    color: #e2e2e2;
    font-size: 30px;
    font-family: OCR;
    height: 60px;
    width: 100%;
}

div.main_area {
    /*background-color: #3bb31e;*/
    position: relative;
    padding: 0;
    top: 100px;
    right: 0;
    width: 64%;
    left: 18%;
    height: auto;
    margin: 0;
}